server {
    listen 80;
    server_name {{LINK_ID}}.{{SERVICES_DOMAIN}};

    access_log off;
    error_log  /var/log/nginx/{{SERVICES_DOMAIN_REVERSE}}.error.log error;

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    location / {
        include conf.d/include/{{SERVICES_DOMAIN_REVERSE}}.proxy.inc;
        set $ups $scheme://gateway.docker.internal:{{UPS_PORT}};
        proxy_pass $ups;
    }
}
